body {
    margin: 0;
    margin-top: 50px;
}

/*header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #3e0071;
}*/

header {
    display: flex;
    background:rgba(255,255,255,0);
    position:fixed;
    left:0;
    top:0;
    right: 0;
    height: 50px;
    line-height: 50px;
    transition:background 0.5s ease;
    color: aliceblue;
}


header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 110vh;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero .logo-img {
    width: 300px;
    border-radius: 50%;
    place-items: left;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Add everything below here */

#hero h1 {
    font-size: 3em;
    color:aliceblue;
}

#hero p {
    font-size: 3em;
    color:aliceblue;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color:antiquewhite;
}

#hero {
    background-image: linear-gradient(rgba(22, 0, 74, 0.75),rgba(167, 130, 255, 0.75)), url('/static/images/homeBackground.png');
    margin-top:-140px;
    margin-bottom: 0%;
    
}

#about {
    background-image: linear-gradient(rgba(167, 130, 255, 0.75),rgba(17, 0, 94, 0.75)), url('/static/images/background2.jpeg');
}

#explore {
    background-image: linear-gradient(rgba(17, 0, 94, 0.75),rgba(255,255,255,0.75)), url('/static/images/background3.webp');
}

#profile {
    background-image: linear-gradient(rgba(17, 0, 94, 0.75),rgba(255,255,255,0.75)), url('/static/images/background3.webp');
}

.cabin-condensed-regular {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cabin-condensed-medium {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cabin-condensed-semibold {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cabin-condensed-bold {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  
  
  